-repo
<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="7zip.install" />
  <package id="autohotkey.portable" />
  <package id="bruno" />
  <package id="buffalo" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolatey-visualstudio.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="cmake" />
  <package id="cmake.install" />
  <package id="Cmder" />
  <package id="curl" />
  <package id="cursoride" />
  <package id="dbeaver" />
  <package id="docker-desktop" />
  <package id="dotnet-10.0-desktopruntime" />
  <package id="dotnetfx" />
  <package id="doublecmd" />
  <package id="drawio" />
  <package id="Firefox" />
  <package id="git" />
  <package id="git.install" />
  <package id="gitextensions" />
  <package id="gitkraken" />
  <package id="golang" />
  <package id="GoogleChrome" />
  <package id="k6" />
  <package id="k9s" />
  <package id="kind" />
  <package id="kubernetes-cli" />
  <package id="kubernetes-helm" />
  <package id="kubernetes-kompose" />
  <package id="kustomize" />
  <package id="make" />
  <package id="microsoft-edge" />
  <package id="microsoft-openjdk11" />
  <package id="mkcert" />
  <package id="mongodb-compass" />
  <package id="neovim" />
  <package id="ngrok" />
  <package id="nodejs" />
  <package id="nodejs.install" />
  <package id="notepadplusplus" />
  <package id="notepadplusplus.install" />
  <package id="obsidian" />
  <package id="obs-studio" />
  <package id="obs-studio.install" />
  <package id="ollama" />
  <package id="postman" />
  <package id="PowerShell" />
  <package id="powershell-core" />
  <package id="putty.install" />
  <package id="python" />
  <package id="python3" />
  <package id="python314" />
  <package id="telegram" />
  <package id="telegram.install" />
  <package id="Shotcut" />
  <package id="shotcut.install" />
  <package id="terraform" />
  <package id="thunderbird" />
  <package id="totalcommander" />
  <package id="transmission" />
  <package id="vcredist140" />
  <package id="vcredist2010" />
  <package id="vcredist2015" />
  <package id="vcredist2017" />
  <package id="virtualbox" />
  <package id="visualstudio2019buildtools" />
  <package id="visualstudio2019-workload-vctools" />
  <package id="visualstudio2022buildtools" />
  <package id="visualstudio2022-workload-vctools" />
  <package id="visualstudio-installer" />
  <package id="vlc" />
  <package id="vlc.install" />
  <package id="vnc-viewer" />
  <package id="vscode" />
  <package id="vscode.install" />
  <package id="wezterm" />
  <package id="wezterm.install" />
  <package id="WinDirStat" />
  <package id="winmerge" />
  <package id="winscp" />
  <package id="winscp.install" />
  <package id="zed-editor" />
</packages>